#matchinfocards {
    display: flex;
    flex-direction: row;
    height: calc(100% - 80px);
    gap: 20px;
    padding: 20px;
}
#matchinfo .card_mid div {
    width: 200px;
}

#matchinfo.card {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

#matchinfo.card .card_mid {
    width: 50%;
    height: 100%;
}

#matchinfo.card .card_mid h1,
#matchinfo.card .card_mid h4 {
    margin: 0;
}

#matchinfo.card .card_mid.right ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#matchinfo.card .card_mid.right li {
    font-size: 18px;
}

#matchinfo.card .card_mid.right {
    gap: 20px;
}

#playersinfo.card {
    width: 33%;
    height: 100%;
    align-items: flex-start;
    text-align: left;
}

#chat_container.card {
    width: 33%;
    height: 100%;
}

@media only screen and (max-width: 630px) {
    #matchinfocards {
        position: relative;
        flex-direction: column;
        overflow-y: auto !important;
        gap: 10px !important;
        padding: 10px !important;
    }

    #matchinfo {
        flex-direction: column !important;

        gap: 40px;
    }
    .card_mid {
        width: 100% !important;
    }
    .card {
        width: 100% !important;
        height: auto !important;
        justify-content: unset !important;
    }
}
