#alert_container {
    height: calc(100vh - 160px);
    display: flex;
    justify-content: center;
    align-items: center;
}

#inner_alert_container {
    background: rgba(255, 255, 255, 0.9);
    border-radius: 5px;
    width: 410px;
    -webkit-box-shadow: -1px 0px 6px 2px rgba(0, 0, 0, 0.15);
    padding: 20px;
    box-shadow: -1px 0px 6px 2px rgba(0, 0, 0, 0.15);
}

#alert_body {
    margin: 0;
}

@media only screen and (max-width: 450px) {
    #inner_alert_container {
        width: calc(100% - 40px);
    }
}
